.fe-upload-btn[data-v-5651911c] {
    position: relative
}

.fe-upload-btn input[type=file][data-v-5651911c] {
    position: absolute;
    left: -99999px
}

.alerts-stack {
    position: fixed;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 2000
}

@media (max-width:767px) {
    .alerts-stack {
        -webkit-transform: none;
        transform: none;
        left: 0;
        right: 0
    }
}

.alerts-stack .alert {
    position: relative;
    width: 100%;
    left: 0;
    -webkit-transform: none;
    transform: none
}

.alerts-stack .alert-enter-active,
.alerts-stack .alert-leave-active {
    transition: all .25s;
    -webkit-transition: all .25s
}

.alerts-stack .alert-enter,
.alerts-stack .alert-leave-to {
    opacity: 0;
    -moz-opacity: 0;
    margin-top: -50px
}

.popover[data-v-1e6776cd] {
    display: block;
    visibility: hidden;
    opacity: 0
}

.popover.show[data-v-1e6776cd] {
    visibility: visible
}

.popover.in[data-v-1e6776cd] {
    visibility: visible;
    opacity: 1
}

.progress.progress-nodetails .progress-bar[data-v-1b001e90]:before {
    width: 100%
}

.prevent-body-scroll,
.prevent-body-scroll body {
    overflow-y: hidden;
    position: relative;
    height: 100%
}

.modal-dialog {
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out
}

.fade-enter-active,
.fade-leave-active {
    opacity: 1;
    -webkit-transform: translateY(25%);
    transform: translateY(25%)
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%)
}

@media (min-width:768px) {
    .modal-content.overflow-y-auto {
        overflow-y: visible!important
    }
}

.up-tokenizer .tokenizer-wrapper {
    position: relative
}

.up-tokenizer .tokenizer-wrapper .eo-dropdown-menu {
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto
}

.up-tokenizer .add-button {
    display: inline-block;
    list-style: none;
    margin-bottom: 0
}

.up-tokenizer-modal .tokenizer-wrapper {
    border: 0;
    box-shadow: none;
    margin-top: 50px;
    overflow: visible;
    min-height: 50px
}

.up-tokenizer-modal .tokenizer-wrapper.is-native-app {
    margin-top: 5px
}

.up-tokenizer-modal .tokenizer-wrapper>.tokenizer-token-list .tokenizer-token {
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 8px 15px;
    margin-right: 7px
}

.up-tokenizer-modal .no-data-item {
    padding: 10px 15px;
    margin: 2px 0
}

.up-tokenizer-modal .menu-list {
    max-height: 100%;
    overflow: auto
}

.up-tokenizer-modal .menu-list li .menu-item-active {
    top: 13px
}

.b-tag[data-v-7d574796]:focus,
.b-tag[data-v-7d574796]:hover {
    background-color: #e0e0e0;
    color: #000
}

.b-tag.selected[data-v-7d574796] {
    background-color: purple;
    color: #fff
}

.b-tag.disabled[data-v-7d574796] {
    background-color: #f2f2f2;
    color: #a0a0a0;
    cursor: not-allowed
}

.menu-list li {
    margin-bottom: 0
}

@media (max-width:767px) {
    .menu-list li {
        border-bottom: 1px solid #e0e0e0
    }
}

.menu-list li>a {
    display: block;
    background-color: #fff;
    font-weight: 400;
    text-decoration: none;
    border: none;
    padding: 15px 20px 16px;
    clear: both;
    color: #222;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    font-size: 13px;
    line-height: 13px
}

.menu-list li>a.disabled,
.menu-list li>a.disabled:active,
.menu-list li>a.disabled:hover,
.menu-list li>a[disabled],
.menu-list li>a[disabled]:active,
.menu-list li>a[disabled]:hover {
    color: var(--text-3)!important;
    border-color: var(--border-4);
    background: var(--bg-4)!important;
    text-shadow: none;
    text-decoration: none;
    outline: 0!important;
    cursor: not-allowed;
    pointer-events: none;
    box-shadow: none!important
}

@media (min-width:768px) {
    .menu-list li>a {
        padding: 8px 20px
    }
}

.menu-list li.active>a {
    text-decoration: none;
    outline: 0
}

.menu-list li.disabled a,
.menu-list li.disabled a:focus,
.menu-list li.disabled a:hover {
    color: #a0a0a0
}

.menu-list li.disabled a:focus,
.menu-list li.disabled a:hover {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    cursor: not-allowed
}

.menu-list li.divider {
    display: none;
    height: 1px;
    margin: 7px 0;
    overflow: hidden;
    background-color: #e0e0e0
}

@media (min-width:768px) {
    .menu-list li.divider {
        display: block
    }
}

.menu-list li.dropdown-header {
    display: block;
    padding: 15px 20px 16px;
    font-size: 11px;
    line-height: 14px;
    color: #222;
    background-color: #f2f2f2;
    text-transform: uppercase;
    font-weight: 500
}

@media (min-width:768px) {
    .menu-list li.dropdown-header {
        padding: 8px 20px
    }
}

.menu-list li.inactive-placeholder {
    padding: 15px 20px 16px;
    font-size: 13px
}

@media (min-width:768px) {
    .menu-list li.inactive-placeholder {
        padding: 9px 20px
    }
}

@media (hover:hover) {
    .menu-list li>a.focus,
    .menu-list li>a:focus,
    .menu-list li>a:hover {
        background-color: #f9f9f9;
        color: #008329;
        text-decoration: none
    }
}

.menu-list,
.nested-menu {
    list-style: none;
    margin: 0;
    padding: 0
}

.menu-list li>a {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 14px;
    position: relative
}

@media (max-width:767px) {
    .menu-list li>a {
        padding: 15px
    }
}

.menu-list li .menu-item-active {
    position: absolute;
    top: 7px;
    left: 6px;
    color: purple
}

.menu-list li .menu-item-active:before {
    color: purple
}

.up-dropdown-modal .menu-list li .menu-item-active {
    top: 13px
}

.menu-list li .active-parent-item {
    color: purple
}

.menu-list li.active:after {
    content: none
}

.menu-list li:not(.multi-select)>a {
    padding-left: 45px
}

.menu-item-icon {
    margin-right: 10px;
    vertical-align: middle;
    color: var(--text-2);
    width: 14px;
    height: 14px
}

.menu-item-subtext {
    display: block;
    font-size: 10px;
    line-height: 10px;
    color: var(--text-3)
}

.loading {
    -webkit-animation: spinner 2s linear 0s infinite;
    animation: spinner 2s linear 0s infinite
}

.no-item-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 10px;
    padding: 10px 0;
    color: var(--text-2)
}

.no-item-wrapper .glyphicon {
    margin-left: 5px;
    margin-right: 10px;
    color: var(--text-2)
}

.search-menu-list.menu-list {
    max-height: 300px;
    overflow-y: auto
}

@media (max-width:767px) {
    .search-menu-list.menu-list {
        max-height: none
    }
}

.search-menu-list.menu-list li:first-child {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1050;
    border-bottom: none;
    top: 0
}

.input-search-icon {
    visibility: visible
}

.hide {
    visibility: hidden
}

.flex-1 {
    -webkit-box-flex: 1;
    flex: 1
}

.dropdown {
    position: relative
}

.dropdown.dropdown-block {
    display: block
}

.dropdown.dropdown-block .dropdown-toggle {
    width: 100%
}

@media (min-width:480px) {
    .dropdown {
        display: inline-block
    }
}

.btn.dropdown-toggle {
    font-weight: 400;
    box-shadow: 0 1px 6px rgba(57, 73, 76, .35);
    max-width: 100%;
    padding-left: 21px;
    padding-right: 9px;
    text-align: left;
    margin: 0
}

@media (max-width:767px) {
    .btn.dropdown-toggle {
        width: 100%
    }
}

.btn.dropdown-toggle,
.btn.dropdown-toggle:focus,
.btn.dropdown-toggle:hover {
    color: #222
}

.btn.dropdown-toggle.dropdown-toggle-open {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.dropdown-label-wrapper {
    display: -webkit-box;
    display: flex
}

.dropdown-label {
    -webkit-box-flex: 1;
    flex: 1
}

.dropdown-icon {
    margin-left: 15px;
    width: 14px;
    height: 14px
}

.dropdown-icon:not(.disabled) {
    color: purple
}

.dropdown-search .dropdown-menu,
.dropdown-search .eo-dropdown-menu {
    padding-top: 0;
    padding-bottom: 0
}

.dropdown-menu-mobile-header.dropdown-mobile-header {
    position: fixed;
    top: 0;
    z-index: 1051;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.menu-fullscreen.menu-list {
    position: relative;
    top: 52px;
    overflow-x: hidden
}

.menu-fullscreen.menu-list.is-native-app {
    top: 0
}

.dropdown-mobile-header {
    width: 100%;
    max-width: 100vw;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: 0 1px 0 var(--gray-3);
    background: var(--bg-inverse);
    padding: 0!important
}

.dropdown-mobile-header .dropdown-mobile-header-title {
    -webkit-box-flex: 1;
    flex: 1;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.dropdown-mobile-header .dropdown-mobile-header-title:first-child {
    padding-left: 15px
}

.dropdown-mobile-header .dropdown-mobile-header-title:last-child {
    padding-right: 48px
}

.dropdown-mobile-header .dropdown-mobile-header-button {
    margin: 0;
    padding: 15px
}

.dropdown-mobile-header .dropdown-mobile-header-button .glyphicon {
    margin: 2px 0
}

.dropdown-mobile-header .dropdown-mobile-header-button span {
    display: inline-block;
    margin: 2px 0
}

.up-autocomplete-wrapper[data-v-67a86427] {
    position: relative
}

.up-autocomplete-wrapper .loading-icon[data-v-67a86427] {
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -7px
}

.eo-dropdown-menu[data-v-67a86427] {
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto
}

.label-width-auto[data-v-700a63bf] {
    width: auto!important
}

.up-debug-bar {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #fff;
    border-radius: 30px;
    height: 41px;
    width: 200px;
    padding: 2px 6px;
    z-index: 10000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .5)
}

.up-debug-bar img {
    height: 30px;
    width: 30px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50px
}

.up-debug-bar .info {
    float: right;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.up-debug-bar:hover .dropdown-menu {
    display: block;
    right: 0;
    left: auto
}

.fe-image-crop {
    overflow: hidden;
    background: #f2f2f2;
    width: 100%;
    height: 300px;
    display: block;
    position: relative
}

.fe-image-crop canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    outline: none;
    -webkit-tap-highlight-color: transparent
}

.fe-upload-btn[data-v-32706b74] {
    position: relative
}

.fe-upload-btn input[type=file][data-v-32706b74] {
    position: absolute;
    left: -99999px
}

.fe-portrait-uploader-modal .crop-area-container {
    margin: -30px -30px 0;
    border-bottom: 1px solid #f0f0f0
}

@media (max-width:767px) {
    .fe-portrait-uploader-modal .crop-area-container {
        margin: -15px -15px 0
    }
}

.fe-portrait-uploader-modal .avatar {
    color: #a0a0a0
}

.fe-portrait-uploader .upload-btn {
    position: relative;
    display: inline-block
}

.fe-portrait-uploader .upload-btn:hover {
    text-decoration: none
}

.fe-portrait-uploader .upload-btn .btn {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0
}

.fe-portrait-uploader .upload-btn .avatar {
    margin-left: 0;
    color: #a0a0a0
}

.step-manager-modal.modal {
    z-index: 1001
}

@media (max-width:767px) {
    .btn-row .btn.up-fe-step-back-button {
        -webkit-box-flex: 0;
        flex: 0;
        padding: 0
    }
    .modal-footer,
    .modal-header {
        padding: 15px!important
    }
}

.modal-header {
    padding: 30px
}

.modal-footer {
    padding: 30px;
    border-top: 1px solid #e0e0e0;
    background-color: #f9f9f9
}

.fe-step-sidebar .eo-tabset.breadcrumbs .completed-icon {
    position: absolute;
    left: 90%;
    right: 0;
    top: 0;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: #e0e0e0
}
.fe-step-sidebar .eo-tabset.breadcrumbs .completed-icon.completed {
    color: purple
}

.fe-step-sidebar .eo-tabset.breadcrumbs li.active>a {
    box-shadow: 0 1px 6px rgba(57, 73, 76, .35)
}

.fe-step-sidebar .eo-tabset.breadcrumbs li>a .glyphicon {
    margin: 0 10px 0 0;
    font-size: 14px
}

.fe-step-sidebar .eo-tabset.breadcrumbs li>strong {
    display: block;
    padding: 9px 20px
}

.fe-step-sidebar .eo-tabset.breadcrumbs li>strong .glyphicon {
    margin: 0 10px 0 0
}

.fe-cat-height .dropdown-menu {
    max-height: 400px
}